<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criteria</title>
</head>
<style>
    #title{
        text-align: center;
        color: red;
    }
    table{
        margin-left: 30%;
    }
    td{
  text-align: center;
   }

</style>
<body>
    <h1 id="title"><u>Eligibility Criteria</u></h1>
<p style="margin-left: 2%;">The UPSC 2024 Notification will be out on 14th February 2024. Interested candidates who want to apply for the UPSC 2024 exam, can check the eligibility criteria in this article.<br>

In this article below, you can learn all about UPSC eligibility and whether you are eligible to take the UPSC exam or not.</p>
<h2 style="text-align: center;" >IAS Eligibility</h2>
<table border="1px solid" >
    <tr>
       <td>Age Limit</td>
       <td> 21 to 32</td>
    </tr>
    <tr>
        <td>Educational Qualification for IAS</td>
        <td>Graduation in any stream</td>
    </tr>
    <tr>
        <td>Nationality</td>
        <td>Citizen of India</td>
    </tr>
    <tr>
        <td>Age Relaxation</td>
        <td>As per category (mentioned below)</td>
    </tr>
</table>
<h2 style="text-align: center;">IAS Eligibility – Age Relaxation & Number of Attempts</h2>
<table border="1px solid"  style="margin-right: 2;">
    <tr>
        <th>Category</th>
        <th>Age Limit</th>
        <th>No. of attempts</th>
    </tr>
    <tr>
       <td>General</td>
       <td>32 yrs</td>
       <td>6</td>

    </tr>
    <tr>
        <td>OBC</td>
        <td>35 yrs</td>
        <td>9</td>
    </tr>
    <tr>
        <td>SC/ST</td>
        <td>37 yrs</td>
        <td>Unlimited (Up to age limit)</td>
    </tr>
    <tr>
        <td>Disabled Defence Services Personnel</td>
        <td>35 yrs</td>
        <td>9</td>

    </tr>
    <tr>
      <td>Ex-Servicemen</td>
      <td>37 yrs</td>
      <td>9</td>
      
  </tr>
    <tr>
      <td>Persons with Disability – EWS</td>
      <td>42 yrs</td>
      <td>9</td>
  </tr>
</table>


</body>
</html>